<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.deskid.xdebug">

    <application
        android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Make all app on your phone debuggable" />
        <meta-data
            android:name="xposedminversion"
            android:value="81" />

    </application>

</manifest>